<div>
    <br />
    <input id="group" />
    <input type="button" value="Join Group" onclick="join()" />
    <br /><br />
    <textarea style="width:100%;height:300px;" id="editor" onkeyup="change()"></textarea>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/text.js"></script>

